:root{
    --base:rgb(69, 84, 245);
    --spacing:10px;
    --blur:10px;
}
img{
    width: 50%;
    padding: var(--spacing);
    background-color: var(--base);
    filter:blur(var(--blur));
}
.hl{
    color: var(--base);
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 2rem;
}
.controls{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.controls>:nth-child(n){
    margin-bottom: 1.7rem;

}
.controls>:nth-child(2n-1){


    margin-bottom: 0.2rem;
}